  /* body{
    background-image: linear-gradient(to right, #9896f0 , #FBC8D5);
}  */

input{
    border-radius: 15px;
    padding: 3%;
    width: 60%;
    height: fit-content;
    box-shadow: 0px 2px 2px 2px #888888;
}